 /* 移动端开始 */
 
 @media screen and (max-width:768px) {
     /* banner begin */
     .banner-list-item img {
         width: 160%;
     }
     .banner-list-item i {
         font-size: 3.5vw;
         margin-bottom: -5vw;
     }
     .banner-list-item span {
         font-size: 5.5vw;
         font-weight: bold;
         top: 20%;
         left: 20%;
     }
     .more {
         width: 35.1%;
         height: 25.5%;
         text-align: center;
         line-height: 5.5vw;
         margin-top: 3vw;
         font-size: 3vw;
     }
     .point-item {
         width: 2vw;
         height: 2vw;
     }
     /* banner end */
     /*content begin*/
     .box-one {
         width: 100%;
         height: 110vw;
         margin: 15vw 0;
     }
     .box-inside {
         flex-direction: column;
         width: 80%;
         height: 100%;
         margin: 0 auto;
     }
     .inside-left {
         width: 100%;
         height: 50%;
     }
     .inside-right {
         width: 100%;
         height: 50%;
     }
     .inside-left img {
         width: 80vw;
     }
     .inside-right img {
         width: 80vw;
     }
     .title-two {
         font-size: 3.57vw;
     }
     .little-title-two {
         font-size: 2.2vw;
         margin: 2.05vw 1.05vw;
     }
     .little-title {
         font-size: 2.84vw;
         font-weight: bold;
         color: rgb(191, 189, 189);
         display: block;
         margin: 1.04vw 1vw;
     }
     .title {
         font-size: 3.56vw;
         display: block;
         margin: 0.52vw 1vw;
     }
     .details {
         display: block;
         margin-top: 2.5vw;
         font-size: 2.84vw;
         color: rgb(177, 177, 177);
     }
     .inside-item {
         width: 77vw;
         height: 56vw;
     }
     .mask {
         top: 63%;
     }
     .mask span {
         display: block;
         font-size: 4.04vw;
         margin: 1.04vw 2.6vw;
         color: #fff;
         font-weight: bold;
     }
     .mask p {
         display: block;
         font-size: 2.5vw;
         margin: 1.04vw 2.6vw;
         color: #fff;
     }
     /*content end*/
     /* contact begin */
     .contact-top h2 {
         font-size: 3rem;
     }
     .contact-top p {
         font-size: 2rem;
     }
     .contact {
         height: 200rem;
         padding-bottom: 20rem;
     }
     .contact-inside {
         flex-direction: column;
         width: 80%;
         height: 75%;
         margin: 0 auto;
         margin-bottom: 20rem;
     }
     .contact-left {
         width: 100%;
         height: 50%;
     }
     .contact-right {
         width: 100%;
         height: 50%;
         padding-top: 10vw;
         padding-bottom: 10vw;
     }
     .contact-left-details {
         margin-top: 1vw;
         width: 60%;
         height: 25%;
     }
     .contact-left-details span {
         font-size: 2.6rem;
     }
     .contact-left-details p {
         font-size: 1.6rem;
         padding-top: 0.3vw;
     }
     .contact-img img {
         padding-bottom: 10px;
         width: 10vw;
     }
     .contact-right h2 {
         padding-bottom: 10px;
         font-size: 5vw;
     }
     .inputBox input {
         width: 60rem;
         height: 8rem;
         border-bottom: 1px #000 solid;
         font-size: 1.8rem;
         margin-top: 3rem;
     }
     .inputBox-span {
         font-size: 1.8rem;
         left: 1.8rem;
         top: 3rem;
     }
     .inputBox-span-latter {
         font-size: 2rem !important;
         left: 0;
         top: -2rem;
     }
     /* contact end */
 }
 /* 移动端结束 */
 /* #################################################################### */
 /* ipad端开始 */
 
 @media screen and (max-width:992px) and (min-width:768px) {
     /* banner begin */
     .banner-list-item img {
         width: 100%;
     }
     .banner-list-item i {
         font-size: 2vw;
         margin-bottom: -4vw;
     }
     .banner-list-item span {
         font-size: 3.5vw;
         font-weight: bold;
         top: 10%;
         left: 10%;
     }
     .more {
         width: 35.1%;
         height: 25.5%;
         text-align: center;
         line-height: 3.5vw;
         margin-top: 2vw;
         font-size: 1.6vw;
     }
     /* banner end */
     /*content begin*/
     .box-one {
         width: 100%;
         height: 30vw;
         margin: 5.20vw 0;
     }
     .box-inside {
         width: 80%;
         height: 30vw;
         margin: 0 auto;
     }
     .inside-left img {
         width: 36vw;
     }
     .inside-right img {
         width: 36vw;
     }
     .inside-item {
         width: 45vw;
         height: 32.72vw;
     }
     .mask {
         top: 63%;
     }
     .mask span {
         display: block;
         font-size: 2.04vw;
         margin: 1.04vw 2.6vw;
         color: #fff;
         font-weight: bold;
     }
     .mask p {
         display: block;
         font-size: 1.5vw;
         margin: 1.04vw 2.6vw;
         color: #fff;
     }
     /*content end*/
     /* contact begin */
     .contact-inside {
         width: 75%;
     }
     .contact-img img {
         margin: 0.52vw;
         width: 4vw;
     }
     .contact {
         width: 100%;
         height: 44vw;
     }
     /* contact end */
 }
 /* ipad端结束 */
 /* pc端开始 */
 /* ####################################小尺寸######################## */
 
 @media screen and (max-width:1266px) and (min-width:992px) {
     /* banner begin */
     .banner-list-item img {
         width: 100%;
     }
     /* banner end */
     /*content begin*/
     .box-one {
         width: 100%;
         height: 26.04vw;
         margin: 5.20vw 0;
     }
     .box-inside {
         width: 66%;
         height: 26.04vw;
         margin: 0 auto;
     }
     /*content end*/
     /* contact begin */
     .contact {
         width: 100%;
         height: 44vw;
     }
     /* contact end */
 }
 /* ####################################大尺寸######################## */
 
 @media screen and (min-width:1266px) {
     /* banner begin */
     .banner-list-item img {
         width: 100%;
     }
     /* banner end */
     /*content begin*/
     .box-one {
         width: 100%;
         height: 26.04vw;
         margin: 5.20vw 0;
     }
     .box-inside {
         width: 66%;
         height: 26.04vw;
         margin: 0 auto;
     }
     /*content end*/
 }
 /* pc端结束 */