* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 1);
    background-image: url('../images/user_ps.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center 0;
}

.container h2 {
    font-size: 32px;
    text-transform: capitalize;
}

.container a {
    /* display: inline-block; */
    height: 20px;
    text-decoration: none;
    color: #bbbbbb;
    text-transform: capitalize;
    font-size: 12px;
}

.container a:hover {
    color: lightslategray;
    /* border-bottom: 2px solid #ff4b2b; */
}

.container button {
    background-color: #ff4b2b;
    padding: 10px 40px;
    border: 1px solid transparent;
    border-radius: 20px;
    text-transform: uppercase;
    color: white;
    margin-top: 10px;
    outline: none;
    transition: transform 80ms;
}

.container button:active {
    transform: scale(.95);
}

.container {
    position: relative;
    width: 758px;
    height: 480px;
    background-color: #ffffff;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    overflow: hidden;
}

.form-container {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: #ffffff;
    /*display: none;*/
    transition: all .65s ease-in;
}

.sign-up-container {
    /*right: 0;*/
    z-index: 1;
}

.sign-in-container {
    z-index: 2;
}

.form-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 12px 15px;
}

.form-container input {
    width: 100%;
    margin: 8px 0;
    padding: 12px;
    background-color: #eee;
    border: none;
}

.overlay-container {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    right: 0;
    /* border-radius: 10px; */
    z-index: 100;
    overflow: hidden;
    transition: .6s ease-in-out;
}

.overlay {
    position: absolute;
    width: 200%;
    height: 100%;
    left: -100%;
    background-color: #ff4b2b;
    background-image: linear-gradient(to right, #ff4b2d, #ff426b);
}

.overlay-panel {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    color: white;
    padding: 0 40px;
    text-align: center;
}

.overlay-panel button {
    background-color: transparent;
    border: 1px solid white;
}

.overlay-panel p {
    font-size: 12px;
    margin: 10px 0 15px;
}

.overlay-right-container {
    right: 0;
    transform: translateX(0);
    transition: .6s ease-in-out;
}

.overlay-left-container {
    transform: translateX(10%);
    transition: .6s ease-in-out;
}

.container.active .sign-up-container {
    transform: translateX(100%);
    z-index: 5;
}

.container.active .sign-in-container {
    transform: translateX(100%);
}

.container.active .overlay-container {
    transform: translateX(-100%);
}

.container.active .overlay {
    transform: translateX(50%);
}

.container.active .overlay-left-container {
    transform: translateX(0);
}

.container.active .overlay-right-container {
    transform: translateX(-10%);
}


/* 移动端开始########################################################################################## */

@media screen and (max-width:768px) {
    .container h2 {
        font-size: 32px;
        /* font-size: 5rem; */
    }
    .container a {
        height: 3.2rem;
        font-size: 2rem;
        padding-bottom: 5rem;
    }
    .container button {
        /* padding: 1.5rem 6.8rem; */
        padding: 10px 40px;
        /* border: 1px solid transparent; */
        border-radius: 20px;
        margin-top: 1.5rem;
    }
    .container {
        width: 90%;
        height: 75%;
        border-radius: 10px;
        margin-top: 100px;
    }
    .form-container {
        width: 100%;
        height: 50%;
    }
    .sign-up-container {
        /*right: 0;*/
        z-index: 1;
    }
    .sign-in-container {
        z-index: 2;
    }
    .form-container form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        padding: 12px 15px;
    }
    .form-container input {
        width: 100%;
        margin: 8px 0;
        padding: 12px;
        background-color: #eee;
        border: none;
    }
    .overlay-container {
        position: absolute;
        top: 50%;
        /* width: 50%;
        height: 100%; */
        width: 100%;
        height: 50%;
        left: 0;
        /* right: 0; */
        /* bottom: 0; */
        z-index: 100;
        overflow: hidden;
        transition: .6s ease-in-out;
    }
    .overlay {
        position: absolute;
        width: 100%;
        height: 200%;
        /* right: 0; */
        left: 0;
        top: -100%;
        /* bottom: 100%; */
        background-color: #ff4b2b;
        background-image: linear-gradient(to right, #ff4b2d, #ff426b);
    }
    .overlay-panel {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 50%;
        color: white;
        padding: 0 40px;
        text-align: center;
    }
    .overlay-panel button {
        background-color: transparent;
        border: 1px solid white;
    }
    .overlay-panel p {
        font-size: 12px;
        margin: 10px 0 15px;
    }
    .overlay-right-container {
        /* right: 0; */
        bottom: 0;
        transform: translateY(0);
        transition: .6s ease-in-out;
    }
    .overlay-left-container {
        transform: translatey(0);
        transition: .6s ease-in-out;
    }
    .container.active .sign-up-container {
        transform: translateY(100%);
        z-index: 5;
    }
    .container.active .sign-in-container {
        transform: translateY(100%);
    }
    .container.active .overlay-container {
        transform: translateY(-100%);
    }
    .container.active .overlay {
        transform: translateY(50%);
    }
    .container.active .overlay-left-container {
        transform: translateY(0);
    }
    .container.active .overlay-right-container {
        transform: translateY(-10%);
    }
}


/* 移动端结束########################################################################################## */